#  Global variables
[global]
username = globaluser
password = globalpass
enable   = enablepass
logging  = yes
storage  = ftp://1.1.1.1/bak
logdir   = .

#  Group specific settings
#  Groups are defined in devices.txt which are the sections
#
#  Group specific credentials
[credentials-asa-all]
username = asauser
password = asapass
enable   = asaenable

#  Group specific variables
#  These variables can be referenced in script between ##-s
#  example: banner motd #banner#
[variables-asa-all]
localuser  = user1
localpass  = pass1
ntpserver1 = 1.2.3.4
banner =
 ******************************
 * This is a multiline banner *
 * This must be idented!      *
 ******************************
 =

